
        table, th, td {
          font-size: 10px;
          border: 1px solid black;
          border-collapse: collapse;
          padding: 2px;
       
        }
      
       h4 {
        text-align: center;
       }
       .img{
        float: left;
    }
    .container {
        display: flex;

    }