*{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}



.card {
    border-radius: 10px;
    box-shadow:0 5px 20px rgba(61, 98, 235, 0.737); 
    box-sizing: border-box;
    background-color: rgba(87, 93, 98, 0.146);
    margin-top: 15px;
    padding-top: 5px;
    top: 30px;
    padding: 4px 40px 4px 40px;      
    margin-top: 90px;   
   
}
.card button {
    width: 18rem;
    position: center;
}

.container form input {
    width: calc(100%-20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: rgba(154, 160, 165, 0.845);
    font-size: 15px;
    
}

.container .input-group select {   
    width: calc(100%-20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #c2baba79;
    border-bottom: 2px solid #3872d7;
    color: rgba(154, 160, 165, 0.845);
    font-size: 15px;
}
.card-img-top  {
    position: relative;
    top: -20px;
    left: 25%;
    margin-top: -30px;
    width: 200px !important;
    height: 150px;
    


}

.container .form-grup i {
    border: none;
    background-color: transparent;   
    font-size: 15px;
    position: absolute;
    position: relative;
    top: -48px;
    left: 92%;

}

.container  p {
    color: rgba(154, 160, 165, 0.845);
    font-size: 15px;
}



